.player img {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
}

.player iframe {
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-info {
    width: 80%;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* .player .cover-background {
    backdrop-filter: blur(15px);
} */